@using CadastroPessoas.ViewModels;
@model IEnumerable<CadastroPessoas.ViewModels.PessoaViewModel>

@{
    ViewBag.Title = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class=" row">
    <div class="col-md-9">
        <h2>Listagem</h2>
    </div>
    <div class="col-md-3">
        <a href="/Pessoa/Cadastrar" class="btn btn-primary pull-right">Cadastrar Nova Pessoa</a>

    </div>
    
</div>

<table class="table table-striped table-sm table-bordered border-primary">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Data de Nascismento</th>
            <th scope="col">Sexo</th>
            <th scope="col">Estado Civil</th>
            <th scope="col">CPF</th>
            <th scope="col">CEP</th>
            <th scope="col">Endereço</th>
            <th scope="col">Número</th>
            <th scope="col">Complemento</th>
            <th scope="col">Bairro</th>
            <th scope="col">Cidade</th>
            <th scope="col">UF</th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (PessoaViewModel item in Model)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.DataNascimentoFormatada</td>
                    <td>@item.SexoFormatado</td>
                    <td>@item.EstadoCivil</td>
                    <td>@item.CPFFormatado</td>
                    <td>@item.CEPFormatado</td>
                    <td>@item.Endereco</td>
                    <td>@item.Numero</td>
                    <td>@item.Complemento</td>
                    <td>@item.Bairro</td>
                    <td>@item.Cidade</td>
                    <td>@item.UF</td>
                </tr>

            }
       
    </tbody>
</table>